@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	background-color: #1a1a41;
	 font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}
#gameboard {
	background-color: #272760;
	width: 300px;
	height: 300px;
	display: flex;
	flex-wrap: wrap;
	border: solid 1px black;
}
#info {
	font-size: 30px;
	color: whitesmoke;
}
.square {
	width: 100px;
	height: 100px;
	background-color: #442768;
	border: solid 2px black;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}
.circle {
	height: 90px;
	width: 90px;
	border-radius: 50%;
	border: 15px solid #0cffe1;
	box-sizing: border-box;
}

.cross {
	width: 100px;
	height: 100px;
	position: relative;
	transform: rotate(45deg);
}

.cross:before,
.cross:after {
	content: "";
	position: absolute;
	background-color: #ed1e79;
}
.cross:before {
	left: 50%;
	width: 30%;
	margin-left: -15%;
	height: 100%;
}
.cross:after {
	top: 50%;
	height: 30%;
	margin-top: -15%;
	width: 100%;
}

#restart {
    color: #f32179;
    padding:10px;
    border-color: #f32179;
    font-size: 20px;
    transition: 0.2s;
    background-color: transparent;
    border-radius: 3em;
    cursor: pointer;
    margin-top: 20px;
}


#restart:hover {
    color: #fff;
    background: #f32179;
    box-shadow: 0 0 10px #f32179, 0 0 30px #f32179, 0 0 60px #f32179;
}
